{{- /* Head custom content area start */ -}}
{{- /*     Insert any custom code (web-analytics, resources, etc.) - it will appear in the <head></head> section of every page. */ -}}
{{- /*     Can be overwritten by partial with the same name in the global layouts. */ -}}
<!-- Umami分析 -->
<script defer src="https://cloud.umami.is/script.js" data-website-id="a66a5fd4-98b0-4108-8606-cb7094f380ac"></script>
<!-- 谷歌广告 -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2618491437522884"
     crossorigin="anonymous"></script>
{{- /* Head custom content area end */ -}}
